<h1>Listing notes</h1>

<table>
  <thead>
    <tr>
      <th>Noteboard_ID</th>
      <th>Noteboard_Owner</th>
      <th>Poster</th>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
	  <% noteboard_owner = User.find((Noteboard::Noteboard.find(note.noteboard_id)).user_id) %>
	  <% poster = User.find(note.poster_id) %>
      <tr>
        <td><%= note.noteboard_id %></td>
		<td><%= link_to "#{noteboard_owner.username.capitalize}", main_app.home_path(noteboard_owner.username) %></td>
        <td><%= link_to "#{poster.username.capitalize}", main_app.home_path(poster.username) %></td>
        <td><%= note.message %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
